@model IEnumerable<BAU.Models.Shift>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Shift_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee1.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Shift_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee1.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Day_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Day_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Day_ID })
        </td>
    </tr>
}

</table>
